@model WindSeeker.Web.Models.ListViewModel

@{
    ViewData["Title"] = "List";
}

<h1>National Weather Stations List</h1>
@if (Model.Stations.Length == 0)
{
    <h2>No NWS stations were found for coordinates @Model.Latitude,@Model.Longitude.</h2>
}
else
{
    <h2>Found @Model.Stations.Length stations near coordinates @Model.Latitude,@Model.Longitude</h2>
    <ul>
        @foreach (var station in Model.Stations)
        {
            <li><a asp-controller="Home" asp-action="Details" asp-route-id="@station.Identifier">@station.ToString()</a></li>
        }
    </ul>
}

